@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
html, body {
  overflow: auto;  /* Allows scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
