.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.bg {
  position: fixed; /* Keeps the background fixed */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Keeps background behind all content */
  pointer-events: none;
  /* z-index: -1;*/
}